.card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .card-img-top {
    width: 100%;
    object-fit: cover;
  }
  
  .card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-text {
    margin-bottom: 1rem;
  }
  