@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

body,.container {
  font-family: 'Sigmar One', cursive !important;
  color: black !important;
  letter-spacing: 2px;
}
.main-logo{
  font-size: 35px !important;
  transition: color 0.3s ease;
}
.main-logo:hover {
  color: #0d6efd; /* Blue color on hover */
}
.head-main{
  font-weight: 500 !important;
}
.hover-animate {
  transition: color 0.3s ease;
}

.hover-animate:hover {
  color: #0d6efd; /* Blue color on hover */
}
.height-width{
  height: 300px !important;
  width: 500px !important;
}
.clr{
  color: #0d6efd;
}
.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
