@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

body,.container {
  font-family: 'Sigmar One', cursive !important;
  color: black !important;
  letter-spacing: 2px;
}
.main-logo{
  font-size: 35px !important;
  transition: color 0.3s ease;
}
.main-logo:hover {
  color: #0d6efd; /* Blue color on hover */
}
.head-main{
  font-weight: 500 !important;
}
.hover-animate {
  transition: color 0.3s ease;
}

.hover-animate:hover {
  color: #0d6efd; /* Blue color on hover */
}
.height-width{
  height: 300px !important;
  width: 500px !important;
}
.clr{
  color: #0d6efd;
}
.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.crd{
  text-decoration: none !important;
}
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f3ebe9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
h1 {
  margin-top: 20px;
  font-size: 24px;
}